<% if flash[:notice] %>
  <div class="callout callout-info">
    <h4>Informacja</h4>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="callout callout-danger">
    <h4>Błąd</h4>
    <%= flash[:alert] %>
  </div>
<% end %>