<% if !flash[:notice].nil? %>
  <div class="callout callout-info">
    <p><strong>Informacja</strong><br>
    	<%= flash[:notice] %>
    </p>
  </div>
<% end %>
<% if !flash[:alert].nil? %>
  <div class="callout callout-danger">
    <p><strong>Błąd</strong><br>
    	<%= flash[:alert] %>
    </p>
  </div>
<% end %>