<footer class="footer-wrap">

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                
                <div class="footer-copyright">
                    <i><a href="https://themeforest.net/user/real-web?ref=real-web">Deportes.pl</a></i> © Copyright <%= Time.current.year %>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
<script src="js/gmap.js"></script>