<main>
    <section class="container">


        <ul class="b-crumbs">
            <li>
                <%= link_to "Home", root_path %>
            </li>
            <li>
                <span>Drzwi segmentowe</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span><%= @segmentowe.title %></span></h1>
        <!-- Blog Post - start -->
        <div class="post-wrap stylization">
            
            <%= image_tag @segmentowe.avatar.url(:large) %>
            
            <%= @segmentowe.content.html_safe %>

        </div>
        <!-- Blog Post - end -->
    </section>
</main>